@mixin transition($properties, $duration) {
  -webkit-transition: $properties $duration;
  -moz-transition: $properties $duration;
  -o-transition: $properties $duration;
  transition: $properties $duration;
}
