.statusButton {
    margin-right: 4px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    background-color: #fff;
    color: #141414;
    border-radius: 4px;
  }
  
  .statusButton.active {
    background-color: #8dc4ff;
    color: #2e2e2e;
  }
  
  .statusButton:hover {
    background-color: #f0f0f0;
  }